*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100%;
    background-color: black;
}
.container{
    background-color: white;
    width: 400px;
    padding: 35px;
    margin: 100px auto;
    border-radius: 10px;
}
.coin{
    width: 150px;
    height: 150px;
    position: relative;
    margin: 32px auto;
    transform-style: preserve-3d;
}
.coin img{
    width: 100%;
}
.heads,.tails{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tails{
    transform: rotateX(180deg);
}




@keyframes spin-tails{
    0%{transform: rotateX(0);}
    100%{transform: rotateX(1980deg);}
}
@keyframes spin-heads{
    0%{transform: rotateX(0);}
    100%{transform: rotateX(2160deg);}
}
.choix{
    width: 70%;
    height: 200px;
}
.choix .pile{
    width: 100%;
    height: 100px;
    display: flex;
    cursor: pointer;
}
.choix .pile p{
    width: 80%;
    height: 50px;
    background-color: gainsboro;
    border-radius: 50px;
    text-align: center;
    margin-left: 50px;
    margin-top: 10px;
    font-family: arial;
    padding: 10px;
    
}
.choix .face{
    width: 100%;
    height: 100px;
    display: flex;
    margin-left: 40px;
    cursor: pointer;
}
.choix .face p{
    width: 80%;
    height: 50px;
    background-color: gainsboro;
    border-radius: 50px;
    text-align: center;
    margin-left: 50px;
    margin-top: 10px;
    font-family: arial;
    padding: 10px;
}
.face img{
   margin-left: 200px;
}
.choix img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    margin-top: -20px;
}
.stats{
    display: flex;
    color: blueviolet;
    font-weight: 500;
    padding: 20px;
    margin-top: 55px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 1px ;
}
.stats p:nth-last-child(1){
    margin-left: 50%;
}

#buttons{
    display: flex;
    justify-content: space-between;
}
button{
    width: 150px;
    padding: 15px 0;
    border:none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
#flip-button{
    margin: auto;
    background-color: rgb(4, 4, 59);
    color: white;
}
@media screen and (max-width: 700px) {
    .container{
        background-color: white;
        width: 360px;
        padding: 35px;
        margin: 100px auto;
        border-radius: 10px;
    }
    .choix .face{
        margin-left: -40px;
    }
    .choix{
        width: 100%;
        height: 200px;
    }
    .face img{
        margin-left: 200px;
     }
}
